/* header */
.container{
    width: min(100%, 1440px);
    margin: auto; 
    background-color: #DDEAF8 ;
}

.main_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 52px 98px;
    background-color: #fff;
}


/* navigation */
.navigation{
    display: flex; 
    width: 33%;   
}
.navigation_ul{
    display: flex;
    width: 100%;
    font-size: 24px;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}

.active{
    color: #27187F;
}
.not_active{
    color: #758BFD;
}
/* navigation */


.search_bar{
    flex-shrink: 0;
    outline: 3px solid #27187F;
    border-radius: 10px;
    padding: 10px 10px 10px 165px;
}
.fa-magnifying-glass{
    font-size: 30px;
    color: #758BFD;
    
}
/* header */

/* section */

.main_section{
    /* width: 80%; */
    margin: auto;
}

.section_header{
    color: #27187F;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .flex_div{
    


    
    
} */

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 90%; */
    align-content: space-between;
    


}

.card1{
    /* display: flex; */
    width: 30%;
    /* width: 400px; */
    padding: 33px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px

}
.card_img{
    width: 95%;
    height: 188px;

}
.card_text{
    color: #133B3A;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* section */


/* footer */
.main_footer{
    width: 100%;
    background-color: #758BFD ;
    padding: 75px 98px;
    

}
.div_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.column_footer1{
    display: flex;
    flex-direction: column;
    
}


.column_footer2{
    display: flex;
    justify-content: space-between;

    

}

.contact_text{
    color: #00CAD7;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
    letter-spacing: 0.2px;

}

.email_text{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
    letter-spacing: 0.2px;

}
.icon{
    align-items: center;
    color: #fff;
}
.icon_frame{

    height: 55px;
    background-color: #fff;
    border-radius: 5px;
}
.align_scon{
    padding: 13px 3px;
}
/* footer */